.wrapper {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(7, [col] 14%);
  grid-template-rows: 10% 90%;
}

span.code-block {
  font-size: large;
}

.header {
  grid-column: col 1 / span 7;
  text-align: center;
}

.sidebar {
  border-right-style: solid;
  border-right-color: #ddd;
  border-right-width: 1px;
  grid-column: col 1;
  grid-row: 2 / 3;
}

ul.package-list,
ul.module-list,
ul.function-list {
  list-style-type: none;
}

.content {
  margin: 2%;
  grid-column: col 2 / span 3;
  grid-row: 2 / 3;
}

.right-content {
  margin: 7%;
  grid-column: col 5 / span 2;
  grid-row: 2 / 3;
}

button.demo {
  margin: 1%;
}
