<h1>Listing workouts</h1>

<% if logged_in? %>
    <h2><%= link_to 'Add new workout', new_workout_path %></h2>
<% end %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.name %></td><td><%= workout.when.strftime('%b %d %Y') %></td><td><%= link_to 'Show', workout_path(workout) %></td>
  </tr>
<% end %>
</table>


<br />
