<h1>Listing workouts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.where %></td><td><%= workout.when.strftime('%b %d %Y') %></td><td><%= link_to 'Show', workout %></td>
  </tr>
<% end %>
</table>

<br />
