<%= javascript_pack_tag 'elm_demo' %>

<div class="wrapper">
  <div id="main"></div>
</div>

<script>
  var node = document.getElementById('main');
  var app = Elm.Main.embed(node);


  app.ports.highlightCode.subscribe(function(options) {
    var highlightPoller = setInterval(function() {
      hljs.initHighlighting.called = false;
      hljs.initHighlighting();

      // no need to keep checking if highlighting complete
      var codeBlocks = $('code');
      var highlightedCodeBlocks = $('code.hljs');
      if (codeBlocks.length > 0 &&
          (highlightedCodeBlocks.length >= codeBlocks.length) )
      {
        clearInterval(highlightPoller);
      }
    }, 100)
  });
</script>
