{{#*inline "content"}}
    Hi, I'm Stephen Karger.

    <p>
        I work as a software engineer. Please send me a message on <a href="https://www.linkedin.com/in/stephenkarger/">LinkedIn</a> if you would like to chat about that.
    </p>

    <p>
        While most of my professional work lives in private codebases,
        I do keep open source personal projects under my <a href="https://github.com/skarger">Github profile</a>,
        including the code for <a href="https://github.com/skarger/website">this website</a>.
    </p>

    <p>
        Dan Luu's <a href="https://danluu.com/web-bloat/">essay on Web bloat</a> inspires this website's fairly slim download size,
        and the <a href="https://www.techempower.com/benchmarks/">TechEmpower Web Framework Benchmarks</a> helped me decide to implement its backend in Rust.
    </p>
{{/inline}}
{{~> application~}}
