{{#*inline "content"}}
    Hi, I'm Stephen Karger.

    <p>
        I work as a software engineer. If you would like to chat about any professional matters, please send me a message on <a href="https://www.linkedin.com/in/stephenkarger/">LinkedIn</a>.
    </p>

    <p>
        While most of my work lives in private company codebases,
        I do keep open source personal projects under my <a href="https://github.com/skarger">Github profile</a>,
        including the code for <a href="https://github.com/skarger/website">this website</a>.
    </p>


{{/inline}}
{{~> application~}}
