<h1>Welcome</h1>

<p>
    This site mainly serves as a playground for me to experiment with any <span data-turbolinks="false"><a href="<%= elm_demo_root_path %>">web development interest I have at the moment.</a></span>
</p>
    
<p>
    If you are seeking to hire a software engineer you may want to look at my <a data-turbolinks="false" href="./resume">resume</a>. Please contact me via <a href="https://www.linkedin.com/in/stephenkarger/">LinkedIn</a>.
</p>

<p>
    Alas my paid work is closed source. On occasion I make minor enhancements to open source projects, for example:
    <ul>
        <li><a href="https://github.com/rails/webpacker/pull/350">Merged PR on rails/webpacker</a></li>
        <li><a href="https://github.com/labzero/elm-google-geocoding/pull/7">Merged PR on labzero/elm-google-geocoding</a></li>
    </ul>

    My spare time projects are on <a href="https://github.com/skarger">Github</a>. A couple self-contained sample repos:
    <ul>
        <li><a href="https://github.com/skarger/organizational-contacts-api">Ruby web API built with the lightweight Roda framework</a></li>
        <li><a href="https://github.com/skarger/exercism/tree/master/haskell">Haskell practice problems from exercism.io</a></li>
    </ul>
</p>
