.danger {
    background-color: #F2D3D3;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #994349;
    color: #994349;
}

.success {
    background-color: #B9FABB;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #339E4F;
    color: #339E4F;
}