// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.login-input input {
  width: 15%;
  margin: 0.25%;
}

div.login-input label {
  width: 5%;
  display: inline-block;
}
