body {
  background-color: #fff;
  color: #000;
  font-family: "pt-sans", verdana, arial, helvetica, sans-serif;
  font-size: 100%;
}

h1 {
    font-family: "cubano", verdana, arial, helvetica, sans-serif;
}

.nav_container {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #245057;
    border-bottom-width: 0.5em;
}

.nav_list {
    font-family: "cubano", verdana, arial, helvetica, sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


    a {
        text-decoration: none;
    }

    li {
        display: inline;
        list-style-type: none;
        margin-left: 5%;
        margin-right: 5%;
        padding: 1%;
    }

    li.current {
        background-color: #339E4F;
        border-radius: 10px;
    }

}



p, ol, ul, td {
  font-family: "pt-sans", verdana, arial, helvetica, sans-serif;
  font-size: 100%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* miscellaneous */
.debug_dump {
  margin-top: 45px;
}
