<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">

<div class="ui two column stackable grid container">
  <div id="basic-info" class="left aligned column">
    <h1 class="ui header">
      Stephen Karger
      <div class="sub header">Full-Stack Software Engineer</div>
    </h1>

    <div class="ui item">
          <a href="https://www.linkedin.com/in/stephenkarger/" title="LinkedIn Profile">
          <i class="linkedin icon"></i>LinkedIn</a>
    </div>
    <div class="ui item">
          <a href="https://github.com/skarger" title="Github Profile">
          <i class="github icon"></i>Github</a>
    </div>
  </div>

  <div id="title-hook" class="ui bottom aligned column">
    <div class="ui left aligned medium header">
    </div>
  </div>
</div>

<div class="ui two column doubling stackable grid container">

<div class="column">
<div class="ui medium header">Technical Skills</div>
  <div class="ui list">
    <div class="item">
      <div class="header">Backend Applications</div>
      Experience creating HTTP APIs and line-of-business components.
    </div>
    <div class="item">
      <div class="header">Web Clients</div>
      Have developed of rich UIs using Javascript and Elm.
    </div>
    <div class="item">
      <div class="header">Databases</div>
      Competent building queries, DB migrations, and ETL processes.
    </div>
    <div class="item">
      <div class="header">Release Engineering</div>
      Implemented dev and deployment infrastructure with Docker and AWS.
    </div>
    <div class="item">
      <div class="header">Quality</div>
      Code without tests is not done. CI and frequent deployment are essential.
    </div>
  </div>
</div>

<div class="column">

<div class="ui medium header">Customer & Product Focus</div>

<div class="ui list">
  <div class="item">
    <div class="header">Delivery Oriented</div>
    Skilled with shipping incremental feature slices.
  </div>
  <div class="item">
    <div class="header">Collaborative</div>
    Proactively communicate with colleagues throughout organization.
  </div>
  <div class="item">
    <div class="header">Holistic</div>
    Anti-silo. Look for solutions that contribute to overall goals and workflows.
  </div>
  <div class="item">
    <div class="header">Evidence Seeking</div>
    Prioritize measurement when considering feature and performance questions.
  </div>
  <div class="item">
    <div class="header">Toolchain Agnostic</div>
    I enjoy specific technologies but accept multiple ways to solve problems.
  </div>
</div>

</div>

</div>

<div class="ui one column stackable grid container">
  <div class="column">
  <div class="ui left aligned medium header">
  Work History
  </div>

  <div class="ui three column grid">
    <div class="column">
     <div class="ui small header">Bridj</div>
    </div>
    <div class="column">
     <div class="ui small header">Software Engineer</div>
    </div>
    <div class="column">
     <div class="ui small header">2015 - Present</div>
    </div>
  </div>
  <div class="ui bulleted list">
    <div class="item">
    Member of core tech team at early stage transportation startup.
    </div>
    <div class="item">
    Enhance Bridj technology, supporting the software stack that enabled business operations.
    </div>
    <div class="item">
    Provide web APIs for customer and employee mobile apps.
    </div>
    <div class="item">
    Build admin tools.
    </div>
    <div class="item">
    Set up development, continuous integration, and deployment infrastructure.
    </div>
    <div class="item">
    Work with business-oriented colleagues to solve problems and define software requirements.
    </div>
    <div class="item">
    Tools: Ruby, Rails, Postgres, Python, Flask, AWS, Docker, Elm, Javascript, Backbone.
    </div>
  </div>

  <div class="ui three column grid">
    <div class="column">
     <div class="ui small header">Zipcar</div>
    </div>
    <div class="column">
     <div class="ui small header">Software Engineer</div>
    </div>
    <div class="column">
     <div class="ui small header">2011 - 2015</div>
    </div>
  </div>

  <div class="ui bulleted list">
    <div class="item">
    Lead 5-person development team that focuses on member experience.
    </div>
    <div class="item">
    Build and maintain various software components to support Zipcar operations.
    </div>
    <div class="item">
     Shepherd software projects from idea to deployment and ongoing support.
    </div>
    <div class="item">
    Collaborate directly with product owners and other business stakeholders, test engineers, and devops engineers.
    </div>
    <div class="item">
    Utilized various technologies but primarily worked on server-side web applications using Rails, Sidekiq, and Oracle DB.
    </div>
  </div>

  <div class="ui three column grid">
    <div class="column">
     <div class="ui small header">ORC</div>
    </div>
    <div class="column">
     <div class="ui small header">Research Analyst</div>
    </div>
    <div class="column">
     <div class="ui small header">2007 - 2011</div>
    </div>
  </div>

  <div class="ui bulleted list">
    <div class="item">
    Work with project managers and clients to develop survey questionnaires, and implement them as mini database-backed websites.
    </div>
    <div class="item">
    Watch over incoming survey responses and make adjustments to survey program as needed.
    </div>
    <div class="item">
    Clean, transform, and tabulate response data to facilitate analysis.
    </div>
    <div class="item">
    Work with colleagues and clients on an ongoing basis to provide research results.
    </div>
  </div>

</div>
