<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">

<div class="ui two column stackable grid container">
  <div id="title" class="left aligned column">
    <h1 class="ui header">
      Stephen Karger
      <div class="sub header">Full-Stack Software Engineer</div>
    </h1>
  </div>

  <div id="title" class="column">
    <div id="contact-info" class="ui bottom aligned column">
      <div class="ui list">
        <div class="item">
                <a href="https://stephenkarger.com" title="Personal Website">
                <i class="code icon"></i>stephenkarger.com</a>
        </div>

        <div class="item">
                <a href="https://www.linkedin.com/in/stephenkarger/" title="LinkedIn Profile">
                <i class="linkedin icon"></i>LinkedIn</a>
        </div>
        <div class="item">
                <a href="https://github.com/skarger" title="Github Profile">
                <i class="github icon"></i>Github</a>
        </div>
        <% if logged_in? %>
            <div class="item">
                  <a href="mailto:stephen.karger@gmail.com" title="Email">
                  <i class="mail icon"></i>stephen.karger@gmail.com</a>
            </div>
            <div class="item">
                  <i class="phone icon"></i>203-561-7012</a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui two column doubling stackable grid container">

<div class="column">
<div class="ui medium header">Technical Skills</div>
  <div class="ui list">
    <div class="item">
      <div class="header">Backend Applications</div>
      Experience creating HTTP APIs and line-of-business components.
    </div>
    <div class="item">
      <div class="header">Web Clients</div>
      Have developed of rich UIs using Javascript and Elm.
    </div>
    <div class="item">
      <div class="header">Databases</div>
      Competent building queries, DB migrations, and ETL processes.
    </div>
    <div class="item">
      <div class="header">Quality & Release</div>
      Incorporate QA and deployment techniques starting at initial development.
    </div>
  </div>
</div>

<div class="column">

<div class="ui medium header">Customer & Product Focus</div>

<div class="ui list">
  <div class="item">
    <div class="header">Delivery Oriented</div>
    Skilled with shipping incremental feature slices.
  </div>
  <div class="item">
    <div class="header">Collaborative</div>
    Proactively communicate with colleagues throughout organization.
  </div>
  <div class="item">
    <div class="header">Evidence Seeking</div>
    Prioritize measurement when considering feature and performance questions.
  </div>
  <div class="item">
    <div class="header">Holistic</div>
    Look for solutions that contribute to overall goals and workflows.
  </div>
</div>

</div>

</div>

<div class="ui one column stackable grid container">
  <div class="column">
    <div class="ui left aligned medium header">
    Work History
    </div>

    <div class="ui three column grid">
      <div class="column">
       <div class="ui small header">Bridj</div>
      </div>
      <div class="column">
       <div class="ui small header">Software Engineer</div>
      </div>
      <div class="column">
       <div class="ui small header">2015 - Present</div>
      </div>
    </div>
    <div class="ui bulleted list">
      <div class="item">
      Member of core tech team at early stage transportation startup.
      </div>
      <div class="item">
      Enhanced Bridj technology, supporting the software stack that enabled business operations.
      </div>
      <div class="item">
      Provided web APIs for customer and employee mobile apps, built admin tools.
      </div>
      <div class="item">
      Set up development, continuous integration, and deployment infrastructure.
      </div>
      <div class="item">
      Tools: Ruby, Rails, Postgres, Python, Flask, AWS, Docker, Elm, Javascript, Backbone.
      </div>
    </div>

    <div class="ui three column grid">
      <div class="column">
       <div class="ui small header">Zipcar</div>
      </div>
      <div class="column">
       <div class="ui small header">Software Engineer</div>
      </div>
      <div class="column">
       <div class="ui small header">2011 - 2015</div>
      </div>
    </div>

    <div class="ui bulleted list">
      <div class="item">
      Led 4-5 person development team that focused on member experience.
      </div>
      <div class="item">
       Shepherded software projects from idea to deployment and ongoing support.
      </div>
      <div class="item">
      Collaborated directly with product owners and other business stakeholders, test engineers, and devops engineers.
      </div>
    </div>

    <div class="ui three column grid">
      <div class="column">
       <div class="ui small header">ORC</div>
      </div>
      <div class="column">
       <div class="ui small header">Research Analyst</div>
      </div>
      <div class="column">
       <div class="ui small header">2007 - 2011</div>
      </div>
    </div>

    <div class="ui bulleted list">
      <div class="item">
      Worked with project managers and clients to develop survey questionnaires, and implement them as mini database-backed websites.
      </div>
      <div class="item">
      Cleaned, transformed, and tabulated response data to facilitate analysis.
      </div>
      <div class="item">
      Worked with colleagues and clients on an ongoing basis to provide research results.
      </div>
    </div>

  </div>
</div>

<div class="ui one column stackable grid container">
  <div class="column">
    <div class="ui left aligned medium header">
    Education
    </div>

   <div class="ui list">
     <div class="item">
       <div class="content">
         <div class="header">Clark University</div>
         B.A. Mathematics, summa cum laude, Cross Country team captain
       </div>
     </div>

     <div class="item">
       <div class="content">
         <div class="header">Harvard Extension School</div>
         CS courses: Algorithms, Compilers, Operating Systems, Hardware Architecture, Network Protocols
       </div>
     </div>
   </div>
  </div>
</div>
