<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">

<h1 class="ui center aligned header">
  Stephen Karger
  <div class="sub header">Software Engineer</div>
</h1>

<div class="ui two column doubling stackable grid container">

<div class="column">
<div class="ui left aligned medium header">
What do I bring to your business?
</div>
</div>

<div class="column"></div>

<div class="column">
<div class="ui medium header">Technical Skills</div>
<div class="ui list">
  <div class="item">
    <div class="header">Backend Applications</div>
    Experience building APIs and line-of-business applications.
  </div>
  <div class="item">
    <div class="header">Web Clients</div>
    Development of rich UIs using Javascript and Elm.
  </div>
  <div class="item">
    <div class="header">SQL | Databases</div>
    Competence with Postgres, Oracle, and Redis.
  </div>
  <div class="item">
    <div class="header">Release Engineering</div>
    Implemented deployment infrastructure with AWS and Docker.
  </div>
</div>
</div>

<div class="column">
</div>

<div class="column">
<div class="ui medium header">Product Focus</div>

<div class="ui list">
  <div class="item">
    <div class="header">Delivery Oriented</div>
    Skilled with shipping incremental feature slices.
  </div>
  <div class="item">
    <div class="header">Collaborative</div>
    Track record of communicating with colleagues throughout organizations.
  </div>
  <div class="item">
    <div class="header">Collaborative</div>
    Track record of communicating with colleagues throughout organizations.
  </div>
  <div class="item">
    <div class="header">Holistic</div>
    Anti-silo. Seek solutions that contribute to overall goals and workflows.
  </div>
</div>

</div>

<div class="column"></div>

<div class="column">

<!--
<div class="ui left aligned medium header">
Work History
</div>
-->

</div>

<div class="column"></div>

</div>
