<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <title>The Main UI</title>
  <%= javascript_pack_tag 'locations' %>
</head>

<body>
<div id="stops-container"></div>
<div id="map-container">
  <div id="map"></div>
</div>
</body>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLeI7OObd55fz_lCoPbvf06GdLV4HFK_c&callback=stopsEntryApp">
  // TODO: this is rails dev key, update
</script>
