<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <title>The Main UI</title>
  <%= javascript_pack_tag 'locations' %>
  <%= stylesheet_pack_tag 'locations' %>
</head>

<body>
<div id="locations-container"></div>
<div id="map-container">
  <div id="map"></div>
</div>
</body>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqLo6WMMo6oUi61HCe18UFCPtybRm8N10&callback=locationsEntryApp">
  // TODO: this is rails dev key, update
</script>
